<div class="top-bar flex-column">
  <div class="d-flex justify-content-end">
    <div class="welcome align-self-center">Bonjour <b>{{username}}</b> !</div>
    <!-- <button class="btn btn-secondary" (click)="toggleProfile()">Profil</button> -->
    <div class="dropdown" dropdown>
      <button dropdownToggle class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Menu
      </button>
      <div class="dropdown-menu" *dropdownMenu>
        <a class="dropdown-item" href="#">Profil</a>
        <a class="dropdown-item" href="#">Joueurs</a>
        <a class="dropdown-item" href="#">Top 10</a>
      </div>
    </div>
    <button class="btn btn-danger" (click)="logoutOnClick()">
      <i class="fas fa-sign-out-alt"></i>
    </button>
  </div>
  <div class="d-flex justify-content-end" *ngIf="lastLoginTime != ''">
    <div>Dernière connexion: <i>{{lastLoginTime | date:'d MMM y à HH:mm, z' }}</i></div>
  </div>
</div>
  