<div class="d-flex justify-content-center align-items-center h-100">
    <div class="card">
        <div class="card-header text-center">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" [class.active]="isSelected(0)" href="#" (click)="loadProfile()">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="isSelected(1)" href="#" (click)="loadHistory()">Historique</a>
                </li>
            </ul>
        </div>

        <!-- ONGLET PROFIL -->
        <div class="card-body" *ngIf="isSelected(0)">
            <div class="row" id="header">
                <div class="col">
                    <img [src]="avatar" width="100px" height="100px">
                </div>
                <div class="col">
                    <div class="row">
                        <i class="fas fa-circle"></i>
                        <p>{{identifiant}}</p>
                    </div>
                    <div class="row">
                        <p>{{prenom}} {{nom}}</p>
                    </div>
                </div>
                <div class="col txt-align-c">
                    <i class="fas fa-edit"></i>
                </div>
            </div>
            <div class="row">
                <div class="col txt-align-c">
                    <div class="humeur">
                        <p class="humeur-txt"><i>Je vais bien, tout va bien</i></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col txt-align-c">
                    <p>né le {{date_naissance | date:'MM/dd/y'}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col txt-align-c">
                    <button disabled>Sauvegarder modifications</button>
                </div>
            </div>
            <div class="row">
                <div class="col txt-align-c">
                    <button class="btn btn-info">Retour au menu</button>
                </div>
            </div>
        </div>

        <!-- ONGLET HISTORIQUE -->
        <div class="card-body" *ngIf="isSelected(1)">
            <p>historique</p>
        </div>
    </div>
</div>