<div class="d-flex justify-content-center align-items-center h-100">
    <div class="card">
        <div class="card-header text-center">
            <ul class="nav nav-tabs">
                <li class="nav-item" id="profileTab">
                    <a class="nav-link" [class.active]="isSelected(0)" href="#" (click)="selectProfile()">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="isSelected(1)" href="#" (click)="selectHistory()">Historique</a>
                </li>
            </ul>
        </div>

        <!-- ONGLET PROFIL -->
        <div class="card-body" *ngIf="isSelected(0)">
            <div class="row" id="header">
                <div class="col avatar">
                    <img [src]="avatar" width="100px" height="100px">
                    <div id="medailles-container">
                        <p><i class="fas fa-medal"></i><b>4</b></p>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <i class="fas fa-circle"></i>
                        <p>{{identifiant}}</p>
                    </div>
                    <div class="row">
                        <p>{{prenom}} {{nom}}</p>
                    </div>
                </div>
                <div class="col txt-align-c">
                    <a href="#"><i class="fas fa-edit"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col txt-align-c">
                    <div class="humeur">
                        <p class="humeur-txt"><i>Je vais bien, tout va bien</i></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col txt-align-c">
                    <p>né le {{date_naissance | date:'MM/dd/y'}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col txt-align-c">
                    <button disabled>Sauvegarder modifications</button>
                </div>
            </div>
            <div class="row">
                <div class="col txt-align-c">
                    <button class="btn btn-info" (click)="backToMenu()">Retour au menu</button>
                </div>
            </div>
        </div>

        <!-- ONGLET HISTORIQUE -->
        <div class="card-body scrollable" id="histoCardBody" *ngIf="isSelected(1)">
            <ul class="nav nav-tabs text-center">
                <li class="nav-item" id="profileTab">
                    <a class="nav-link" [class.active]="isSelectedHisto(0)" href="#" (click)="selectSolo()">Solo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="isSelectedHisto(1)" href="#" (click)="selectDefis()">Défis</a>
                </li>
            </ul>
            <!-- SOLO -->
            <table class="table" *ngIf="isSelectedHisto(0)">
                <tr scope="col" *ngFor="let h of historySolo">
                    <td>
                        <div class="row">
                            <div class="row w-100">
                                <div class="col small-col">
                                    <p>Score: <b>{{h.score}}</b></p>
                                </div>
                                <div class="col small-col txt-align-r">
                                    <p><i>{{h.date_jeu | date: 'dd/MM/y'}}</i></p>
                                </div>
                            </div>
                            <div class="row w-100">
                                <div class="col small-col">
                                    <p class="diff{{h.niveau_jeu}}">{{diff[h.niveau_jeu]}}</p>
                                </div>
                                <div class="col small-col txt-align-r">
                                    <p><i class="far fa-clock"></i>{{' ' + printTime(h.temps)}}</p>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <!-- DEFIS -->
            <table class="table" *ngIf="isSelectedHisto(1)">
                <tr scope="col" *ngFor="let h of historyDefis">
                    <td>
                        <div class="row">
                            <div class="row w-100">
                                <div class="col small-col">
                                    <p class="color-green" *ngIf="h.gagnant == identifiant"><b>VICTOIRE</b></p>
                                    <p class="color-red" *ngIf="h.perdant == identifiant"><b>DÉFAITE</b></p>
                                </div>
                                <div class="col small-col txt-align-r">
                                    <p><i>{{h.date_defi | date: 'dd/MM/y'}}</i></p>
                                </div>
                            </div>
                            <div class="row w-100">
                                <div class="col small-col">
                                    <p>contre {{h.gagnant == identifiant ? h.perdant : h.gagnant}}</p>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="card-footer" *ngIf="isSelected(1)">
            <div class="row">
                <div class="col txt-align-c">
                    <button class="btn btn-info" (click)="backToMenu()">Retour au menu</button>
                </div>
            </div>
        </div>
    </div>
</div>