<div class="container">
  <app-topbar 
      *ngIf="shouldAppear('topbar')" 
      (profileToggle)="onProfileToggled($event)" 
      (authStatus)="onStatusChange($event)" 
      [username]="topbarUsername" 
      [lastLoginTime]="topbarLastLoginTime">
  </app-topbar>

  <app-loginform 
      *ngIf="!auth.isLogged()" 
      (authStatus)="onStatusChange($event)" 
      [auth]="auth">
  </app-loginform>

  <app-themeselection 
      *ngIf="shouldAppear('themeselection')" 
      (selectedTheme)="onThemeSelected($event)" 
      [themes]="themes">
  </app-themeselection>

  <app-diffselection 
      *ngIf="shouldAppear('diffselection')" 
      (selectedDiff)="onDifficultySelected($event)">
  </app-diffselection>

  <app-quizz 
      *ngIf="shouldAppear('quizz')" 
      (quizzEnded)="onQuizzEnded($event)">
  </app-quizz>

  <app-banner 
      *ngIf="bannerVisible" 
      [type]="bannerType" 
      [msg]="bannerMsg">
  </app-banner>

  <app-profile 
      *ngIf="profileToggled" 
      (backToMenu)="onBackToMenu($event)">
  </app-profile>
</div>
