<div class="container">

  <!---------------------------TOPBAR------------------------------>
  <app-topbar 
      *ngIf="topbarVisible"
      (profileToggle)="onProfileToggled($event)" 
      (authStatus)="onStatusChange($event)">
  </app-topbar>
  <!--------------------------------------------------------------->


  <!---------------------------VIEWS------------------------------->
  <app-loginform 
      *ngIf="activeView == 'loginform'"
      (authStatus)="onStatusChange($event)">
  </app-loginform>

  <app-themeselection 
      *ngIf="activeView == 'themeselection'" 
      (selectedTheme)="onThemeSelected($event)" 
      [themes]="themes">
  </app-themeselection>

  <app-diffselection 
      *ngIf="activeView == 'diffselection'" 
      (selectedDiff)="onDifficultySelected($event)">
  </app-diffselection>

  <app-quizz 
      *ngIf="activeView == 'quizz'" 
      (quizzEnded)="onQuizzEnded($event)"
      (playersListRequested)="onPlayersListRequested($event)">
  </app-quizz>

  <app-profile 
      *ngIf="activeView == 'profile'" 
      (backToMenu)="onBackToMenu($event)">
  </app-profile>

  <app-playerslist
      *ngIf="activeView == 'playerslist'"
      (challengedPlayer)="onPlayerChallenged($event)"
      (quizzEnded)="onQuizzEnded($event)">
  </app-playerslist>
  <!--------------------------------------------------------------->

  <!----------------------DEFI MODAL DIALOG------------------------>
  <app-defi
        *ngIf="defiVisible"
        (challengeResponse)="onChallengeResponse($event)"
        [defi]="defi">
  </app-defi>
  <!--------------------------------------------------------------->

  <!---------------------------BANNER------------------------------>
  <app-banner 
      *ngIf="bannerVisible" 
      [type]="bannerType" 
      [msg]="bannerMsg">
  </app-banner>
  <!--------------------------------------------------------------->

</div>
