@import url('https://fonts.googleapis.com/css?family=Numans');

html,
body {
    background-image: url('https://wallpaperaccess.com/full/752854.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    width: 400px;
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-header h3 {
    color: white;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

.login_btn {
    color: white;
    font-weight: bold;
    background-color: #15883E;
    width: 100%;
    margin-top: 10px;
}

.login_btn:hover {
    color: white;
    background-color: #1DB954;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

.input-group input {
    text-indent: 20px;
}

.form-group i {
    opacity: 50%;
    z-index: 10;
    position: absolute;
    left: 8px;
    top: 10px;
}