<div id="myModal" class="modal">
    <div class="modal-content">
        <h3>{{identifiantDefiant}} vous défie!</h3>
        <div class="row">
            <div class="col small-col">
              <p class="line-h-1-2"><b>Thème :</b></p>
            </div>
            <div class="col small-col txt-align-r">
              <p>{{theme}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col small-col">
              <p class="line-h-1-2"><b>Difficulté :</b></p>
            </div>
            <div class="col small-col txt-align-r">
              <p>{{diff}}</p>
            </div>
        </div>
        <!-- <p><b>Thème:</b> {{theme}}</p>
        <p><b>Difficulté:</b> {{diff}}</p> -->
        <button class="btn btn-success">Accepter</button>
        <button class="btn btn-danger">Refuser</button>
    </div>
</div>