<div class="d-flex justify-content-center align-items-center h-100">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <p><b>Thème</b>: {{theme}}</p>
                    </div>
                    <div class="row">
                        <p><b>Difficulté</b>: {{diff}}</p>
                    </div>
                </div>
                <div class="col timer d-flex align-items-center justify-content-end">
                    <p>timer</p>
                </div>
            </div>
        </div>
        <div class="card-body" *ngIf="questionNb != 10">
            <p><b>Q{{questionNb+1}}: {{quizz[questionNb].quizz.question}}</b></p>
            <div class="row justify-content-center" *ngFor="let i of [0,1,2,3]">
                <button class="btn btn-light" (click)="select(i)">{{quizz[questionNb].quizz.propositions[i]}}</button>
            </div>
        </div>
        <div class="card-body scrollable" *ngIf="questionNb == 10">
            <p><b>RESULTATS</b></p>
        </div>
    </div>
</div>