<div class="d-flex justify-content-center align-items-center h-100">

  <!-- CARTE QUESTION -->
  <div class="card" *ngIf="questionNb != 10">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <div class="row">
            <p><b>Thème</b>: {{theme}}</p>
          </div>
          <div class="row">
            <p><b>Difficulté</b>: {{diff}}</p>
          </div>
        </div>
        <div class="col txt-align-r d-flex align-items-center justify-content-end">
          <p><i class="far fa-clock"></i>{{' ' + timer}}</p>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="question">
        <p class="question-txt"><b>Q{{questionNb+1}}: {{quizz[questionNb].quizz.question}}</b></p>
      </div>
      <div class="row justify-content-center" *ngFor="let p of quizz[questionNb].quizz.propositions">
        <button class="btn btn-light" (click)="select(p)">{{p}}</button>
      </div>
    </div>
  </div>



  <!-- CARTE RESULTAT -->
  <div class="card" *ngIf="questionNb == 10">
    <div class="card-header align-items-center">
      <div class="col txt-align-c">
        <h3><u><b>RÉSULTAT</b></u></h3>
      </div>
    </div>
    <div class="card-body d-flex align-items-center" *ngIf="questionNb == 10">
      <div class="col">

        <!-- DEFI GAGNE / PERDU -->
        <div *ngIf="defi" class="row">
          <div class="col small-col txt-align-c">
            <p>
              <b>Défi </b>
              <b *ngIf="score > defi.scoreDefiant">gagné!</b>
              <b *ngIf="score <= defi.scoreDefiant">perdu!</b>
              (score adverse : {{defi.scoreDefiant}})
            </p>
          </div>
        </div>

        <!-- Bonnes reponses : xxx -->
        <div class="row">
          <div class="col small-col">
            <p class="line-h-1-2"><b>Bonnes réponses :</b></p>
          </div>
          <div class="col small-col txt-align-r">
            <p>{{nbGoodAnswers}}/10</p>
          </div>
        </div>

        <!-- Temps : xxx -->
        <div class="row">
          <div class="col small-col">
            <p><b>Temps :</b></p>
          </div>
          <div class="col small-col txt-align-r">
            <p>{{timer}}</p>
          </div>
        </div>

        <!-- Difficulté : xxx -->
        <div class="row">
          <div class="col small-col">
            <p><b>Difficulté :</b></p>
          </div>
          <div class="col small-col txt-align-r">
            <p>{{diff}}</p>
          </div>
        </div>

        <!-- Score -->
        <div class="row">
          <div class="col small-col txt-align-c">
            <p><b>SCORE : {{score}}</b></p>
          </div>
        </div>

        <!-- Défis -->
        <div class="row" *ngIf="!defi">
          <div class="col small-col txt-align-c">
            <button disabled>Défier un ami</button>
          </div>
          <div class="col small-col txt-align-c">
            <button (click)="showPlayersList()">Défier un joueur</button>
          </div>
        </div>

        <!-- Voir correction -->
        <div class="row">
          <div class="col small-col txt-align-c">
            <button disabled>Voir la correction</button>
          </div>
        </div>

        <!-- Retour au menu -->
        <div class="row">
          <div class="col small-col txt-align-c">
            <button class="btn btn-info" (click)="backToMenu()">Retour au menu</button>
          </div>
        </div>

      </div>
    </div>
  </div>




</div>