.card {
    font-size: larger;
}

.card-body {
    height: 400px;
}

.txt-align-r {
    text-align: right;
}

.txt-align-l {
    text-align: left;
}

.txt-align-c {
    text-align: center;
}

.card-body p {
    margin-bottom: 50px;
}

.btn-light {
    width: 100%;
    margin-bottom: 10px;
}

.scrollable {
    overflow: scroll;
}

.small-col {
    height: 50px;
}

button {
    white-space: nowrap;
}

.question {
    max-width: 600px;
    height: 12.5ex; /* 2.5ex for each visible line */
    overflow: hidden;
}

.question-txt {
    line-height: 2.5ex;
}

.line-h-1-2 {
    line-height: 2.0ex;
}

.fa-clock {
    margin-right: 10px;
}