.banner {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  /* pour que le bandeau soit toujours au dessus des autres elements */
  z-index: 9999;
  /* margin-bottom: -50px; */
  margin-bottom: -0px;
  padding: 10px;

  font-family: 'Roboto', sans-serif;
  font-size: 130%;

  background-color: rgba(80, 110, 170, 0.5);
  color: white;
}

.banner-success {
  background-color: #1DB954;
}

.banner-error {
  background-color: #EF403D;
  color: black;
}

.banner-warning {
  background-color:#FFD557;
  color: black;
}

.banner-info {
  background-color: #3a73ef;
}

.banner #icon {
  display: inline-block;
  margin-right: 10px;
}

.banner #icon img {
  height: 20px;
  margin-bottom: 3px;
}

.banner #text {
  display: inline-block;
}

.banner #close {
  cursor: pointer;
  float: right;
}

.banner #close:hover {
  color: black;
}

.banner-error #close:hover,
.banner-warning #close:hover {
  color: white;
}
